@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
body {
  overflow-x: hidden;
  font-family: 微软雅黑;
}
ul {
  list-style: none;
}
.head {
  width: 100%;
  height: 70px;
  background-color: #001018;
  float: left;
}
.head .head_top {
  width: 100%;
  height: 41px;
  background-color: white;
  float: left;
}
.head .head_top .head_top_left {
  width: 600px;
}
.head .head_top .head_top_left a:first-child {
  display: block;
  width: 220px;
  height: 35px;
  float: left;
  background: url("../img/ost-bg.png") no-repeat;
  background-position: 0 -40px;
  position: absolute;
  left: 180px ;
  top: 5px;
  z-index: 10;
}
.head .head_top .head_top_left a:last-child img:first-child {
  /* width: 230px;*/
  height: 42px;
  position: absolute;
  top: -1px;
  left: 400px;
  z-index: 12;
}
.head .head_top .head_top_left a:last-child img:first-child:hover img:last-child {
  display: block;
}
.head .head_top .head_top_left a:last-child img:last-child {
  width: 950px;
  position: absolute;
  left: 186px;
  top: 4px;
  z-index: 8;
}
.head .head_top .head_top_right a:first-child {
  position: absolute;
  top: 20px;
  left: 1020px;
  font-size: 13px;
}
.head .head_top .head_top_right a:last-child {
  width: 25px;
  height: 30px;
  display: block;
  background: url("../img/ost-bg.png");
  background-position: -145px -115px;
  position: absolute;
  left: 1110px;
  top: 3px;
  z-index: 10;
}
.head .head_top .head_top_right:hover a:first-child {
  color: red;
}
.head .head_top .head_top_right:hover a:last-child {
  width: 25px;
  height: 30px;
  display: block;
  background: url("../img/ost-bg.png");
  background-position: -161px -115px;
  position: absolute;
  left: 1106px;
  top: 3px;
  z-index: 10;
}
.head .head_bottom {
  width: 100%;
  height: 39px;
  background-color: #001018;
}
.head .head_bottom .linlang {
  display: block;
  width: 100px;
  height: 45px;
  background: url("../img/ost-bg.png");
  background-position: -145px -170px;
  position: absolute;
  left: 183px;
  top: 25px;
  z-index: 6;
}
.head .head_bottom a span:first-child {
  font-size: 13px;
  position: absolute;
  left: 286px;
  top: 49px;
  color: #03D0E3;
}
.head .head_bottom a span:last-child {
  color: white;
  font-size: 13px;
  position: relative;
  left: 320px;
  top: 5px;
}
.head .head_bottom a span:last-child p {
  width: 50px;
  height: 30px;
  background: url("../img/ost-bg.png") no-repeat;
  background-position: -235px -212px;
  position: relative;
  left: 375px;
  top: -31px;
}
.head .head_bottom a span:last-child:hover {
  border-bottom: 1px solid white;
}
.wrap {
  /*秀场*/
}
.wrap .daohang {
  width: 116%;
  height: 86px;
  background: url("../img/nav.png") no-repeat center top;
  position: absolute;
  left: -110px;
  top: 70px;
}
.wrap .daohang .ul1 {
  position: relative;
  top: 80px;
  left: 398px;
}
.wrap .daohang .ul1 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul1 li a {
  color: white;
}
.wrap .daohang .ul2 {
  position: relative;
  left: 521px;
  top: 30px;
}
.wrap .daohang .ul2 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul2 li a {
  color: white;
}
.wrap .daohang .ul3 {
  position: relative;
  top: -50px;
  left: 630px;
}
.wrap .daohang .ul3 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul3 li a {
  color: white;
}
.wrap .daohang .ul4 {
  position: relative;
  top: -159px;
  left: 870px;
}
.wrap .daohang .ul4 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul4 li a {
  color: white;
}
.wrap .daohang .ul5 {
  position: relative;
  top: -212px;
  left: 990px;
}
.wrap .daohang .ul5 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul5 li a {
  color: white;
}
.wrap .daohang .ul6 {
  position: relative;
  top: -269px;
  left: 1100px;
}
.wrap .daohang .ul6 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul6 li a {
  color: white;
}
.wrap .daohang .ul7 {
  position: relative;
  top: -377px;
  left: 1210px;
}
.wrap .daohang .ul7 li {
  margin-top: 10px;
  font-size: 13px;
}
.wrap .daohang .ul7 li a {
  color: white;
}
.wrap .bg {
  width: 100%;
  height: 930px;
  background: url("../img/背景图6.jpg") no-repeat center;
  position: relative;
  top: -5px;
  z-index: -1;
}
.wrap .QQ {
  background: url("../img/inside_logo.png") no-repeat;
  width: 138px;
  height: 112px;
  float: left;
  position: relative;
  top: -843px;
  left: 605px;
}
.wrap .down_bg {
  width: 977px;
  height: 280px;
  position: relative;
  top: -420px;
  left: 183px;
  background: url("../img/top.png") no-repeat;
}
.wrap .xiazai {
  width: 253px;
  height: 318px;
  background: url("../img/down_user_spr.png") no-repeat;
  background-position: 0px 0px;
  position: relative;
  z-index: 20;
  top: -720px;
  left: 192px;
}
.wrap .xiazai .downgame {
  color: white;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  top: 40px;
  left: 70px;
}
.wrap .xiazai .downgame p {
  font-size: 12px;
  padding-top: 5px;
  padding-left: 12px;
}
.wrap .xiazai .login {
  position: absolute;
  top: 165px;
  left: 97px;
}
.wrap .xiazai .login .yuan {
  width: 90px;
  height: 90px;
  background: url("../img/down_user_spr.png") no-repeat;
  background-position: -240px -75px;
  position: absolute;
  top: -9px;
  left: -20px;
}
.wrap .xiazai .login .font {
  font-size: 12px;
  color: white;
  margin-left: -36px;
  margin-top: 11px;
}
.wrap .xiazai .login .font span {
  color: #4DFFDB;
}
.wrap .xiazai .login .font span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.wrap .xiazai #show_img {
  width: 497px;
  height: 255px;
  position: relative;
  left: 241px;
  top: -20px;
  overflow: hidden;
}
.wrap .xiazai #show_img #inner {
  width: 2000%;
  height: 100%;
  position: absolute;
  left: 0px;
}
.wrap .xiazai #show_img .arrow {
  width: 100%;
  height: 40px;
  background-color: #15151A;
  opacity: 0.7;
  position: absolute;
  top: 220px;
  z-index: 50;
}
.wrap .xiazai #show_img .arrow span.left {
  display: block;
  width: 15px;
  height: 30px;
  background: url("../img/top.png");
  background-position: -540px -290px;
  position: absolute;
  left: 5px;
  z-index: 40;
  cursor: pointer;
}
.wrap .xiazai #show_img .arrow span.right {
  display: block;
  width: 15px;
  height: 30px;
  background: url("../img/top.png");
  background-position: -552px -290px;
  position: absolute;
  right: 5px;
  z-index: 40;
  cursor: pointer;
}
.wrap .xiazai #show_img .paganation {
  position: absolute;
  left: 160px;
  top: 222px;
  z-index: 100;
}
.wrap .xiazai #show_img .paganation span {
  width: 15px;
  height: 30px;
  background: url("../img/top.png");
  background-position: -603px -290px;
  z-index: 60;
  cursor: pointer;
  display: inline-block;
}
.wrap .xiazai .dianquan {
  position: relative;
  left: 750px;
  top: -273px;
  z-index: -50;
}
.wrap .xiuchang {
  width: 228px;
  height: 858px;
  border-top: hidden;
  position: absolute;
  top: 830px;
  left: 195px;
}
.wrap .xiuchang span {
  width: 230px;
  height: 30px;
  background: url("../img/inside_bar.png");
  background-position: 0 0;
  position: absolute;
  top: 0px;
}
.wrap .xiuchang .top span {
  width: 240px;
  height: 420px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: -230px 0;
  position: absolute;
  top: 10px;
  left: -12px;
}
.wrap .xiuchang .top .xingguangxiuchang {
  width: 214px;
  height: 70px;
  background: url("../img/inside_bar.png");
  background-position: 0 -130px;
  position: absolute;
  top: 23px;
  left: 11px;
}
.wrap .xiuchang .top .xingguangxiuchang p {
  width: 33px;
  height: 33px;
  background: url("../img/inside_bar.png");
  background-position: 0px -269px;
  position: absolute;
  top: 20px;
  left: 33px;
  z-index: 80;
}
.wrap .xiuchang .top .zizuanzhuanqu {
  width: 214px;
  height: 70px;
  background: url("../img/inside_bar.png");
  background-position: 0 -194px;
  position: absolute;
  top: 90px;
  left: 11px;
}
.wrap .xiuchang .top .zizuanzhuanqu p {
  width: 35px;
  height: 33px;
  background: url("../img/inside_bar.png");
  background-position: -40px -269px;
  position: absolute;
  top: 20px;
  left: 33px;
  z-index: 80;
}
.wrap .xiuchang ul.dianquanchongzhi {
  float: left;
  position: relative;
  top: 180px;
  left: 23px;
  padding: 10px 0;
}
.wrap .xiuchang ul.dianquanchongzhi li {
  cursor: pointer;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  font-weight: bold;
  font-size: 14px;
  color: #3E3F54;
}
.wrap .xiuchang ul.dianquanchongzhi li:hover {
  text-decoration: underline;
}
.wrap .xiuchang ul.dianliangtubiao {
  float: left;
  position: relative;
  top: 180px;
  left: 23px;
  padding: 10px 0;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.wrap .xiuchang ul.dianliangtubiao li {
  cursor: pointer;
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 14px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  font-weight: bold;
  font-size: 14px;
  color: #8B9193;
}
.wrap .xiuchang ul.dianliangtubiao li:hover {
  text-decoration: underline;
}
.wrap .xiuchang .kefuzhongxin {
  width: 240px;
  height: 70px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: 0 -40px;
  position: absolute;
  top: 400px;
}
.wrap .xiuchang .center span {
  width: 240px;
  height: 420px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: -230px 0;
  position: absolute;
  top: 463px;
  left: -12px;
}
.wrap .xiuchang .password ul {
  float: left;
  position: relative;
  top: 180px;
  left: 23px;
  padding: 10px 0;
  font-family: \5FAE\8F6F\96C5\9ED1;
}
.wrap .xiuchang .password ul li {
  cursor: pointer;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 16px;
  font-family: \5FAE\8F6F\96C5\9ED1;
  font-weight: bold;
  font-size: 14px;
  color: #3E3F54;
  font-size: 12px;
}
.wrap .xiuchang .password ul li:hover {
  text-decoration: underline;
}
.wrap .xiuchang .zaixian span.zaixiankefu {
  width: 210px;
  height: 50px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: 0 -300px;
  position: absolute;
  top: 630px;
  left: 10px;
}
.wrap .xiuchang .zaixian span.hezuomeiti {
  display: block;
  cursor: pointer;
  width: 210px;
  height: 60px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: 0 -353px;
  position: absolute;
  top: 687px;
  left: 10px;
  font-size: 13px;
  line-height: 40px;
  padding-left: 17px;
}
.wrap .xiuchang .zaixian span.hezuomeiti p {
  width: 14px;
  height: 30px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: -210px -300px;
  position: absolute;
  top: 13px;
  left: 160px;
}
.wrap .xiuchang .zaixian span.hezuohuoban {
  display: block;
  cursor: pointer;
  width: 210px;
  height: 47px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: 0 -353px;
  position: absolute;
  top: 735px;
  left: 10px;
  font-size: 13px;
  line-height: 40px;
  padding-left: 17px;
}
.wrap .xiuchang .zaixian span.hezuohuoban p {
  width: 14px;
  height: 30px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: -210px -300px;
  position: absolute;
  top: 13px;
  left: 160px;
}
.wrap .xiuchang .bottom span {
  width: 240px;
  height: 30px;
  background: url("../img/inside_bar.png") no-repeat;
  background-position: 0 -9px;
  position: absolute;
  top: 851px;
  left: 0px;
}
.wrap .middle {
  width: 715px;
  height: 1062px;
  position: absolute;
  top: 830px;
  left: 440px;
}
.wrap .middle .new {
  width: 712px;
  height: 273px;
}
.wrap .middle .new .new_left {
  width: 479px;
  height: 273px;
  background-color: #FAFAFA;
  float: left;
}
.wrap .middle .new .new_left .new_title {
  width: 478px;
  height: 45px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}
.wrap .middle .new .new_left .new_title p.news {
  width: 100px;
  height: 30px;
  background: url("../img/title.png") no-repeat;
  background-position: 0 0;
  position: relative;
  top: 10px;
}
.wrap .middle .new .new_left .new_title p.more {
  width: 50px;
  height: 30px;
  background: url("../img/morer.png") no-repeat;
  background-position: 0 -178px;
  position: relative;
  top: -18px;
  left: 420px;
  cursor: pointer;
}
.wrap .middle .new .new_left .tab_title ul.first {
  float: left;
}
.wrap .middle .new .new_left .tab_title ul.first li {
  height: 30px;
  display: block;
  float: left;
  margin-left: 31px;
  margin-right: 31px;
  margin-top: 10px;
  cursor: pointer;
}
.wrap .middle .new .new_left .tab_title .zonghe p,
.wrap .middle .new .new_left .tab_title .huodong p,
.wrap .middle .new .new_left .tab_title .gonggao p,
.wrap .middle .new .new_left .tab_title .saishi p,
.wrap .middle .new .new_left .tab_title .luntan p {
  color: #FF3052;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.wrap .middle .new .new_left .tab_title .zonghe p:hover,
.wrap .middle .new .new_left .tab_title .huodong p:hover,
.wrap .middle .new .new_left .tab_title .gonggao p:hover,
.wrap .middle .new .new_left .tab_title .saishi p:hover,
.wrap .middle .new .new_left .tab_title .luntan p:hover {
  text-decoration: underline;
}
.wrap .middle .new .new_left .tab_title .zonghe ul li,
.wrap .middle .new .new_left .tab_title .huodong ul li,
.wrap .middle .new .new_left .tab_title .gonggao ul li,
.wrap .middle .new .new_left .tab_title .saishi ul li,
.wrap .middle .new .new_left .tab_title .luntan ul li {
  cursor: pointer;
  color: #2A2C45;
  padding: 0px;
  margin-left: 10px;
  margin-top: 8px;
  position: relative;
  zoom: 1;
  line-height: 25px;
  vertical-align: middle;
  font-size: 12px;
}
.wrap .middle .new .new_left .tab_title .zonghe ul li span,
.wrap .middle .new .new_left .tab_title .huodong ul li span,
.wrap .middle .new .new_left .tab_title .gonggao ul li span,
.wrap .middle .new .new_left .tab_title .saishi ul li span,
.wrap .middle .new .new_left .tab_title .luntan ul li span {
  width: 4px;
  height: 6px;
  background: url("../img/morer.png");
  background-position: -22px -26px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -3px;
  margin-left: -13px;
}
.wrap .middle .new .new_left .tab_title .zonghe ul li:hover,
.wrap .middle .new .new_left .tab_title .huodong ul li:hover,
.wrap .middle .new .new_left .tab_title .gonggao ul li:hover,
.wrap .middle .new .new_left .tab_title .saishi ul li:hover,
.wrap .middle .new .new_left .tab_title .luntan ul li:hover {
  text-decoration: underline;
  color: #6467BD;
}
.wrap .middle .new .new_right {
  width: 230px;
  height: 273px;
  float: left;
  margin-left: 3px;
}
.wrap .middle .new .new_right .new_title {
  width: 230px;
  height: 45px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}
.wrap .middle .new .new_right .new_title p.huodong {
  width: 100px;
  height: 30px;
  background: url("../img/title.png") no-repeat;
  background-position: 0 -30px;
  position: relative;
  top: 10px;
  left: 20px;
}
.wrap .middle .new .new_right .new_title p.more {
  width: 50px;
  height: 30px;
  background: url("../img/morer.png") no-repeat;
  background-position: 0 -178px;
  position: relative;
  top: -18px;
  left: 180px;
  cursor: pointer;
}
.wrap .middle .new .new_right .huodong_img .huodong_1 {
  cursor: pointer;
  width: 233px;
  height: 114px;
  background: url("../img/ad_cover.png") no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 50px;
  right: -5px;
  z-index: 30;
}
.wrap .middle .new .new_right .huodong_img img.bai {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 54px;
}
.wrap .middle .new .new_right .huodong_img .huodong_2 {
  cursor: pointer;
  width: 233px;
  height: 114px;
  background: url("../img/ad_cover.png") no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 160px;
  right: -5px;
  z-index: 30;
}
.wrap .middle .new .new_right .huodong_img img.A {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 161px;
}
.wrap .middle .saishi {
  margin-top: 10px;
  width: 712px;
  height: 273px;
}
.wrap .middle .saishi .saishi_left {
  width: 479px;
  height: 273px;
  background-color: #FAFAFA;
  float: left;
}
.wrap .middle .saishi .saishi_left .saishi_title {
  width: 478px;
  height: 45px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}
.wrap .middle .saishi .saishi_left .saishi_title p.saishi_s {
  width: 100px;
  height: 30px;
  background: url("../img/title.png") no-repeat;
  background-position: 0 -60px;
  position: relative;
  top: 10px;
}
.wrap .middle .saishi .saishi_left .saishi_title p.more {
  width: 50px;
  height: 30px;
  background: url("../img/morer.png") no-repeat;
  background-position: 0 -178px;
  position: relative;
  top: -18px;
  left: 420px;
  cursor: pointer;
}
.wrap .middle .saishi .saishi_left .tab1_title ul.first1 {
  float: left;
}
.wrap .middle .saishi .saishi_left .tab1_title ul.first1 li {
  height: 30px;
  display: block;
  font-size: 14px;
  float: left;
  margin-left: 60px;
  margin-right: 35px;
  margin-top: 7px;
  cursor: pointer;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC span,
.wrap .middle .saishi .saishi_left .tab1_title .chewang span,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba span {
  width: 170px;
  height: 180px;
  background: url("../img/ad_cover.png") no-repeat;
  background-position: -31px -147px;
  position: relative;
  top: 20px;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC img,
.wrap .middle .saishi .saishi_left .tab1_title .chewang img,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba img {
  float: left;
  position: absolute;
  top: 380px;
  left: 10px;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC p,
.wrap .middle .saishi .saishi_left .tab1_title .chewang p,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba p {
  display: block;
  float: left;
  font-size: 17px;
  font-weight: bold;
  margin-top: 4px;
  color: #309DFF;
  position: absolute;
  top: 370px;
  left: 170px;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC p:hover,
.wrap .middle .saishi .saishi_left .tab1_title .chewang p:hover,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba p:hover {
  text-decoration: underline;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC ul,
.wrap .middle .saishi .saishi_left .tab1_title .chewang ul,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba ul {
  position: absolute;
  top: 400px;
  left: 170px;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC ul li,
.wrap .middle .saishi .saishi_left .tab1_title .chewang ul li,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba ul li {
  font-size: 13px;
  left: 21px;
  margin-top: 6px;
  cursor: pointer;
}
.wrap .middle .saishi .saishi_left .tab1_title .SSC ul li:hover,
.wrap .middle .saishi .saishi_left .tab1_title .chewang ul li:hover,
.wrap .middle .saishi .saishi_left .tab1_title .zhengba ul li:hover {
  color: #6467BD;
  text-decoration: underline;
}
.wrap .middle .saishi .saishi_right {
  width: 230px;
  height: 273px;
  float: left;
  margin-left: 3px;
}
.wrap .middle .saishi .saishi_right .new_title {
  width: 230px;
  height: 45px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}
.wrap .middle .saishi .saishi_right .new_title p.banben {
  width: 180px;
  height: 45px;
  background: url("../img/title.png") no-repeat;
  background-position: 0 -181px;
  position: relative;
  top: 10px;
  left: 22px;
}
.wrap .middle .saishi .saishi_right .new_title p.more {
  width: 50px;
  height: 30px;
  background: url("../img/morer.png") no-repeat;
  background-position: 0 -178px;
  position: relative;
  top: -30px;
  left: 190px;
  cursor: pointer;
}
.wrap .middle .saishi .saishi_right .banben_img .banben_1 {
  cursor: pointer;
  width: 233px;
  height: 114px;
  background: url("../img/ad_cover.png") no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 335px;
  right: -5px;
  z-index: 30;
}
.wrap .middle .saishi .saishi_right .banben_img img.jisu {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 338px;
}
.wrap .middle .saishi .saishi_right .banben_img .banben_2 {
  cursor: pointer;
  width: 233px;
  height: 114px;
  background: url("../img/ad_cover.png") no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 447px;
  right: -5px;
  z-index: 30;
}
.wrap .middle .saishi .saishi_right .banben_img img.dianquan {
  cursor: pointer;
  position: absolute;
  right: 18px;
  top: 450px;
}
.wrap .middle .shipin .new_title {
  width: 708px;
  height: 45px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}
.wrap .middle .shipin .new_title .shipin {
  width: 100px;
  height: 37px;
  background: url("../img/title.png") no-repeat;
  background-position: 0 -117px;
  position: relative;
  top: 10px;
}
.wrap .middle .shipin .new_title .more {
  width: 50px;
  height: 30px;
  background: url("../img/morer.png") no-repeat;
  background-position: 0 -178px;
  position: relative;
  top: -21px;
  left: 665px;
  cursor: pointer;
}
.wrap .middle .shipin .tab2_title ul.first2 {
  float: left;
}
.wrap .middle .shipin .tab2_title ul.first2 li {
  height: 30px;
  display: block;
  font-size: 15px;
  float: left;
  margin-left: 50px;
  margin-right: 35px;
  margin-top: 7px;
  cursor: pointer;
}
.wrap .middle .shipin .tab2_title .zuixin {
  width: 720px;
  height: 145px;
  position: relative;
  top: 40px;
  /*  span.span_01{  //每个小视频的外边框
            width: 177px;
            height: 111px;
            background: url("../img/ad_cover.png")no-repeat;
            background-position: -205px -465px;
            position: relative;
            top: 100px;
          }*/
}
.wrap .middle .shipin .tab2_title .zuixin img.one {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrap .middle .shipin .tab2_title .zuixin img.two {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 190px;
}
.wrap .middle .shipin .tab2_title .zuixin img.three {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 370px;
}
.wrap .middle .shipin .tab2_title .zuixin img.four {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 550px;
}
.wrap .middle .shipin .tab2_title .tuijian {
  width: 720px;
  height: 145px;
  position: relative;
  top: 40px;
}
.wrap .middle .shipin .tab2_title .tuijian img.one {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrap .middle .shipin .tab2_title .tuijian img.two {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 190px;
}
.wrap .middle .shipin .tab2_title .tuijian img.three {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 370px;
}
.wrap .middle .shipin .tab2_title .tuijian img.four {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 550px;
}
.wrap .middle .shipin .tab2_title .jiaoxue {
  width: 720px;
  height: 145px;
  position: relative;
  top: 40px;
}
.wrap .middle .shipin .tab2_title .jiaoxue img.one {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrap .middle .shipin .tab2_title .jiaoxue img.two {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 190px;
}
.wrap .middle .shipin .tab2_title .jiaoxue img.three {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 370px;
}
.wrap .middle .shipin .tab2_title .jiaoxue img.four {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 550px;
}
.wrap .middle .shipin .tab2_title .saiche {
  width: 720px;
  height: 145px;
  position: relative;
  top: 40px;
}
.wrap .middle .shipin .tab2_title .saiche img.one {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrap .middle .shipin .tab2_title .saiche img.two {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 190px;
}
.wrap .middle .shipin .tab2_title .saiche img.three {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 370px;
}
.wrap .middle .shipin .tab2_title .saiche img.four {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 550px;
}
.wrap .middle .shipin .tab2_title .saishi {
  width: 720px;
  height: 145px;
  position: relative;
  top: 40px;
}
.wrap .middle .shipin .tab2_title .saishi img.one {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrap .middle .shipin .tab2_title .saishi img.two {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 190px;
}
.wrap .middle .shipin .tab2_title .saishi img.three {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 370px;
}
.wrap .middle .shipin .tab2_title .saishi img.four {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 550px;
}
.wrap .middle .shipin .tab2_title .guanfang {
  width: 720px;
  height: 145px;
  position: relative;
  top: 40px;
}
.wrap .middle .shipin .tab2_title .guanfang img.one {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.wrap .middle .shipin .tab2_title .guanfang img.two {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 190px;
}
.wrap .middle .shipin .tab2_title .guanfang img.three {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 370px;
}
.wrap .middle .shipin .tab2_title .guanfang img.four {
  width: 160px;
  height: 125px;
  position: absolute;
  top: 10px;
  left: 550px;
}
.wrap .middle .meiti_title {
  width: 478px;
  height: 79px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #dddddd;
}
.wrap .middle .meiti_title .meitihezuo {
  width: 190px;
  height: 30px;
  background: url("../img/title.png") no-repeat;
  background-position: 0 -147px;
  position: relative;
  top: 40px;
}
.wrap .middle .meiti_title p.more {
  width: 50px;
  height: 30px;
  background: url("../img/morer.png") no-repeat;
  background-position: 0 -178px;
  position: relative;
  top: 16px;
  left: 420px;
  cursor: pointer;
}
.wrap .middle .tab4_title ul.first4 {
  float: left;
}
.wrap .middle .tab4_title ul.first4 li {
  height: 30px;
  display: block;
  float: left;
  margin-left: 41px;
  margin-right: 41px;
  margin-top: 10px;
  cursor: pointer;
}
.wrap .middle .tab4_title .media_1 p,
.wrap .middle .tab4_title .media_2 p,
.wrap .middle .tab4_title .media_3 p,
.wrap .middle .tab4_title .media_4 p,
.wrap .middle .tab4_title .media_5 p {
  color: #FF3052;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;
}
.wrap .middle .tab4_title .media_1 p:hover,
.wrap .middle .tab4_title .media_2 p:hover,
.wrap .middle .tab4_title .media_3 p:hover,
.wrap .middle .tab4_title .media_4 p:hover,
.wrap .middle .tab4_title .media_5 p:hover {
  text-decoration: underline;
}
.wrap .middle .tab4_title .media_1 ul li,
.wrap .middle .tab4_title .media_2 ul li,
.wrap .middle .tab4_title .media_3 ul li,
.wrap .middle .tab4_title .media_4 ul li,
.wrap .middle .tab4_title .media_5 ul li {
  cursor: pointer;
  color: #2A2C45;
  padding: 0px;
  margin-left: 10px;
  margin-top: 8px;
  position: relative;
  zoom: 1;
  line-height: 25px;
  vertical-align: middle;
  font-size: 12px;
}
.wrap .middle .tab4_title .media_1 ul li span,
.wrap .middle .tab4_title .media_2 ul li span,
.wrap .middle .tab4_title .media_3 ul li span,
.wrap .middle .tab4_title .media_4 ul li span,
.wrap .middle .tab4_title .media_5 ul li span {
  width: 4px;
  height: 6px;
  background: url("../img/morer.png");
  background-position: -22px -26px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -3px;
  margin-left: -13px;
}
.wrap .middle .tab4_title .media_1 ul li:hover,
.wrap .middle .tab4_title .media_2 ul li:hover,
.wrap .middle .tab4_title .media_3 ul li:hover,
.wrap .middle .tab4_title .media_4 ul li:hover,
.wrap .middle .tab4_title .media_5 ul li:hover {
  text-decoration: underline;
  color: #6467BD;
}
.tab {
  color: #FE3052;
}
.sai {
  color: #309DFF;
}
.show {
  color: #03BC33;
}
.media {
  color: #8F8F8F;
}
